{{engineer-creator createEngineer=(route-action "createEngineer")}}
{{team-creator createTeam=(route-action "createTeam")}}

<span class="headcount">Headcount: {{headCount}}</span>

<ul class="team-list">
  {{#each orderedTeams as |team|}}
    {{team-listing team=team  deleteTeam=(route-action "deleteTeam")
                              moveTeam=(route-action "moveTeam" orderedTeams)
                              moveEngineer=(route-action "moveEngineer")
                              deleteEngineer=(route-action "deleteEngineer")}}
  {{/each}}
</ul>

{{team-listing team=freeAgents moveEngineer=(route-action "moveEngineer")
                               deleteEngineer=(route-action "deleteEngineer")}}
