<h2 id="title">Pizza Party</h2>

{{engineer-creator createEngineer=(route-action "createEngineer")}}
{{team-creator createTeam=(route-action "createTeam")}}

<ul class="js-unassigned-engineers">
{{#each unassignedEngineers as |engineer|}}
  {{engineer-listing engineer=engineer deleteEngineer=(route-action "deleteEngineer")}}
{{/each}}
</ul>

<hr>

<ul>
{{#each model.teams as |team|}}
  {{team-listing team=team  deleteTeam=(route-action "deleteTeam")
                            moveEngineer=(route-action "moveEngineer")
                            deleteEngineer=(route-action "deleteEngineer")}}
{{/each}}
</ul>

{{outlet}}
